<header class="main-header">
  <div class="header-icon">
    <%= link_to root_path do %>
      <% if app_icon? %>
        <%= image_tag app_icon %>
      <% else %>
        <%= app_name %>
      <% end %>
    <% end %>
  </div>
  <div class="header-links">
    <% if manager? %>
      <%= link_to('Admin', admins_path) %>
    <% end %>
  </div>
</header>
