<% dictionary.each_pair do |key, value| %>
  <%- if value.present? && !value.empty? %>
    <div class="field">
      <label class="label"><%= key %></label>
      <div><%= value %></div>
    </div>
  <% end %>
<% end %>