ul.changes {
    list-style: circle;
    padding-left: 30px;
}

li.change {
    margin: 5px 0;
    font-weight: 300;
}

.change p {
    display: inline-block;
    margin: 2px;
}

.changes-pagination {
    margin: 40px 0;
}

.changes-none {
    text-align: center;
    margin-top: 40px;
}